.list-group-item{
    display: flex;
    justify-content: space-between;
}
.container{
    background-color:  #ADD8E6;
    margin-top: 20px;
}
.list-group-item{
    margin-bottom: 10px;
    border-radius: 5px;
}
.btn-primary{
    cursor: pointer;
}